/* ===== Google Font Import poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #16182c;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.wrapper{
    width: 605px;
    background: #ffffff;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.wrapper .content{
    margin: 35px 0;
}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: center;
    margin: 0 0 3px 10px;
}
.quote-area .quote{
    font-size: 22px;
    text-align: center;
}
.content .author{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-style: italic;
    font-size: 18px;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}
.wrapper .buttons{
    border-top: 1px solid #cccccc;
}
.buttons .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #49596e;
    color: #051937;
    transition: all 0.6s ease;
    cursor: pointer;
}
.features ul li:hover{
    color: #ffffff;
    background: #02030f;
}
.features button{
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    background: #49596e;
    transition: all 0.7s ease;
    border-radius: 50px;
}
.features button:hover{
    background: #02030f;
}
.button .loading{
    opacity: 0.7;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
	.wrapper header{
	font-size: 25px;
	}
	.quote-area .quote{
    font-size: 15px;
	}
	.content .author{
    font-size: 15px;
	}
	.wrapper{
    margin-left: 10px;
    margin-right: 10px;
	}
	.features button{
    font-size: 12px;
	}
}